#contents of input.config.
#Please edit it and source before running main script:
IDT=DN20N0002ADZAA02
IDN=DN20N0002BDZAA02
IDR=RN20N0002RNZAA09
OUTDIR=./test.result
IDPair=${IDT}-VS-${IDN}

DNA_VAF=./test/${IDPair}.somatic.vaf.filter
	#Mutation info table, 5 columns：
	#Chr Pos VAF Ref Alt
	#chr1    1387785 0.0221  574 13

AAchange=./test/${IDPair}.snv.sindel.AAchange.xls
	#Mutation annotation table, at least 12 columns
	#Chr Pos Ref Alt Impact  Gene    Effect  Transcript  Biotype cDNA    Protein Isoforms
	#1   152325629   C   T   MODERATE    FLG2    missense_variant    ENST00000388718.5_1 protein_coding  c.4633G>A   p.Gly1545Arg    T|missense_variant|MODERATE|FLG2|ENSG00000143520.6_2|transcript|ENST00000388718.5_1|protein_coding|3/3|c.4633G>A|p.Gly1545Arg|4706/9124|4633/7176|1545/2391||

GERMSNP=./test/${IDPair}.snv.filt.Germline
	#Germline mutation table, at least 10 columns, especially require the depth and freqency
	#chrom   position    ref var normal_reads1   normal_reads2   normal_var_freq normal_gt   tumor_reads1    tumor_reads2

PHASING=./test/${IDPair}.phasing.info
	#format as following, may be empty:
	#1       chr1    167038333,167038334     T,T
	#2       chr10   16996392        AA

CLONAL=./test/${IDPair}.mat.result.txt
	#summary table of clonal mutation: each row is a mutation, and each row named CCF_N represents a sub-clone
	#Chr Start   Freq    ref alt totalq  minusq  purity  p_ccf   ccf q   p_ccf_binom ccf_binom   q_binom p_prop_test q_prop_test CCF_0 ...
	#1       6203856 0.6452  55      100     3       1       0.77    0.551808722889334       1       1       0.307905422526563       1       2       0.026484951193581       2       0       5.58285156852818e-184

HLAF=./test/${IDPair}.hla1.4neo
	#HLA types, seperated by comma
	#HLA-B40:01,HLA-B13:01,...

HLALOH=./test/${IDPair}.HLALOH_summary.xls
	#HLA_LOH, Loss of heterozygosity. 阳性=Positive, 阴性=Negative
	#hla_b_40_01_02  阴性

EXP=./test/${IDR}.genes.xls
	#RNA-Seq expression output:
	#gene_id transcript_id(s)        length  effective_length        expected_count  TPM     FPKM    HGNC
	#ENSG00000000005.5_2     ENST00000373031.4_1,ENST00000485971.1_1 940.50  698.21  0.00    0.00    0.00    TNMD

RNAVAF=./test/${IDPair}.rna.vaf
	#RNA-Seq mutation table
	#format:chr pos AF DP.Ref DP.Alt
	#1       90049383        0.2593  20      7

RNAFusionBed=./test/star-fusion.fusion_prediction.bedpe
	#RNA-fusion output, from Star-fusion
	#format:
	#7   102665509   -1  7   -1  117407230   FBXL13>>CTTNBP2 6   -   -   0.1409
